Package: com.matchstic.InfoStats
Name: InfoStats
Version: 1.0.2
Description: Device statistics for widgets
Section: System
Depends: firmware (>= 5.0), mobilesubstrate, preferenceloader
Conflicts: com.matchstic.BatteryStats, com.matchstic.RAMStats, com.myrepospace.kohidevice.batterystats
Priority: optional
Architecture: iphoneos-arm
Author: Matt Clarke <mclarke0805@gmail.com>
Icon: file:///Library/PreferenceLoader/Preferences/InfoStatsIcon@2x.png
